# Python
*.py[cod]
__pycache__/
*.so
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media
staticfiles
static/
*.env  # Ignore .env files containing sensitive information

# IDEs and editors
.idea/
.vscode/
.project
.pydevproject

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Docker
*.env
.dockerignore

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
ehthumbs.db
